@media(max-width:1200px){
    body{
        background-color: #f44336;
    }
    .fundo{
        display: none;
    }
    .cabecalho{
        justify-content:flex-start;
        width: auto;
    }
    .container{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap:30px
    }
    .container .imagem-mario{
        max-width: 50%;
        
    }
    .container .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .descricao{
        color: #ffffff;
        text-align: center;
    }
    .container .botao-trailer{
        background-color: black;
    }
}
@media (max-width:500px) {
    .container .descricao{
        max-width: 80%;
    }
    .container .imagem-titulo{
        max-width: 300px;
    }
    .modal .fechar-modal{
        width: 30px;
        line-height: 30px;
    }

    .modal #video{
        width: 300px;
        height: 169px;
    }

}